## Агрегация данных

**Задача 1.** Выведите id всех уникальных пользователей из таблицы user_actions. Результат отсортируйте по возрастанию id.

In [ ]:
SELECT DISTINCT user_id
FROM   user_actions
ORDER BY 1

**Задача 2.** Примените DISTINCT сразу к двум колонкам таблицы courier_actions и отберите уникальные пары значений courier_id и order_id. Результат отсортируйте сначала по возрастанию id курьера, затем по возрастанию id заказа.

In [ ]:
SELECT DISTINCT courier_id,
                order_id
FROM   courier_actions
ORDER BY 1, 2

**Задача 3.** Посчитайте максимальную и минимальную цены товаров в таблице products. Поля назовите соответственно max_price, min_price.

In [ ]:
SELECT min(price) as min_price,
       max(price) as max_price
FROM   products

**Задача 4.** В таблице users у некоторых пользователей не были указаны их даты рождения. Посчитайте в одном запросе количество всех записей в таблице и количество только тех записей, для которых в колонке birth_date указана дата рождения. Колонку с общим числом записей назовите dates, а колонку с записями без пропусков — dates_not_null.

In [ ]:
SELECT count(*) as dates,
       count(birth_date) as dates_not_null
FROM   users

**Задача 5.** Посчитайте количество всех значений в колонке user_id в таблице user_actions, а также количество уникальных значений в этой колонке (т.е. количество уникальных пользователей сервиса). Колонку с первым полученным значением назовите users, а колонку со вторым — unique_users.

In [ ]:
SELECT count(user_id) as users,
       count(distinct user_id) as unique_users
FROM   user_actions

**Задача 6.** Посчитайте количество курьеров женского пола в таблице couriers. Полученный столбец с одним значением назовите couriers.

In [ ]:
SELECT count(courier_id) as couriers
FROM   couriers
WHERE  sex = 'female'

**Задача 7.** Рассчитайте время, когда были совершены первая и последняя доставки заказов в таблице courier_actions. Колонку с временем первой доставки назовите first_delivery, а колонку с временем последней — last_delivery.

In [ ]:
SELECT min(time) as first_delivery,
       max(time) as last_delivery
FROM   courier_actions
WHERE  action = 'deliver_order'

**Задача 8.** Представьте, что один из пользователей сервиса сделал заказ, в который вошли одна пачка сухариков, одна пачка чипсов и один энергетический напиток. Посчитайте стоимость такого заказа. Колонку с рассчитанной стоимостью заказа назовите order_price. Для расчётов используйте таблицу products.

In [ ]:
SELECT sum(price) as order_price
FROM   products
WHERE  name like 'сухарики'
    or name like 'чипсы'
    or name like 'энергетический напиток'

**Задача 9.** Посчитайте количество заказов в таблице orders с девятью и более товарами. Для этого воспользуйтесь функцией array_length, отфильтруйте данные по количеству товаров в заказе и проведите агрегацию. Полученный столбец назовите orders.

In [ ]:
SELECT count(array_length(product_ids, 1)) as orders
FROM   orders
WHERE  array_length(product_ids, 1) >= 9

**Задача 10.** С помощью функции AGE и агрегирующей функции рассчитайте возраст самого молодого курьера мужского пола в таблице couriers. Возраст выразите количеством лет, месяцев и дней (как в примере выше), переведя его в тип VARCHAR. В качестве даты, относительно которой считать возраст курьеров, используйте свою текущую дату (либо не указывайте её на месте первого аргумента, как показано в примерах). Полученную колонку со значением возраста назовите min_age.

**Пояснение:**
Поскольку в качестве даты, относительно которой производится расчёт возраста, мы используем текущую дату, каждый новый день мы будем получать новый результат.

In [ ]:
SELECT age(current_date, birth_date)::varchar as min_age
FROM   couriers
WHERE  sex = 'male'
ORDER BY 1 limit 1

**Задача 11.** Посчитайте стоимость заказа, в котором будут три пачки сухариков, две пачки чипсов и один энергетический напиток. Колонку с рассчитанной стоимостью заказа назовите order_price. Для расчётов используйте таблицу products.

In [ ]:
SELECT sum(case when name = 'сухарики' then price*3
                when name = 'чипсы' then price*2
                when name = 'энергетический напиток' then price
                else price*0 end) as order_price
FROM   products

**Задача 12.** Рассчитайте среднюю цену товаров в таблице products, в названиях которых присутствуют слова «чай» или «кофе». Любым известным способом исключите из расчёта товары, содержащие в названии «иван-чай» или «чайный гриб». Среднюю цену округлите до двух знаков после запятой. Столбец с полученным значением назовите avg_price.

In [ ]:
SELECT round(avg(price), 2) as avg_price
FROM   products
WHERE  (name like '%чай%'
    or name like '%кофе%')
   and name not like 'иван-чай%'
   and name != 'чайный гриб'