## Агрегация данных

**Задача 1.** С помощью оператора GROUP BY посчитайте количество курьеров мужского и женского пола в таблице couriers. Новую колонку с числом курьеров назовите couriers_count. Результат отсортируйте по этой колонке по возрастанию.

In [ ]:
SELECT sex,
       count(courier_id) as couriers_count
FROM   couriers
GROUP BY sex
ORDER BY 2

**Задача 2.** Посчитайте количество созданных и отменённых заказов в таблице user_actions. Новую колонку с числом заказов назовите orders_count. Результат отсортируйте по числу заказов по возрастанию.

In [ ]:
SELECT action,
       count(order_id) as orders_count
FROM   user_actions
GROUP BY action
ORDER BY 2

**Задача 3.** Используя группировку и функцию DATE_TRUNC, приведите все даты к началу месяца и посчитайте, сколько заказов было сделано в каждом из них. Расчёты проведите по таблице orders. Колонку с усечённой датой назовите month, колонку с количеством заказов — orders_count. Результат отсортируйте по месяцам — по возрастанию.

In [ ]:
SELECT date_trunc('month', creation_time) as month,
       count(order_id) as orders_count
FROM   orders
GROUP BY month
ORDER BY 1

**Задача 4.** Используя группировку и функцию DATE_TRUNC, приведите все даты к началу месяца и посчитайте, сколько заказов было сделано и сколько было отменено в каждом из них. В этот раз расчёты проведите по таблице user_actions. Колонку с усечённой датой назовите month, колонку с количеством заказов — orders_count. Результат отсортируйте сначала по месяцам — по возрастанию, затем по типу действия — тоже по возрастанию.

**Пояснение:**

В результате группировки по двум полям для каждого месяца у вас должно появиться ещё по две подгруппы с типом действия (создание заказа и отмена). В каждой такой подгруппе необходимо посчитать число заказов.

In [ ]:
SELECT date_trunc('month', time) as month,
       action,
       count(order_id) as orders_count
FROM   user_actions
GROUP BY month, action
ORDER BY 1, 2

**Задача 5.** По данным в таблице users посчитайте максимальный порядковый номер месяца среди всех порядковых номеров месяцев рождения пользователей сервиса. С помощью группировки проведите расчёты отдельно в двух группах — для пользователей мужского и женского пола. Новую колонку с максимальным порядковым номером месяца рождения в группах назовите max_month. Преобразуйте значения в новой колонке в формат INTEGER, чтобы порядковый номер был выражен целым числом. Результат отсортируйте по колонке с полом пользователей.

In [ ]:
SELECT sex,
       max(date_part('month', birth_date))::integer as max_month
FROM   users
GROUP BY sex
ORDER BY 1

**Задача 6.** По данным в таблице users посчитайте порядковый номер месяца рождения самого молодого пользователя сервиса. С помощью группировки проведите расчёты отдельно в двух группах — для пользователей мужского и женского пола. Новую колонку c порядковым номером месяца рождения самого молодого пользователя в группах назовите max_month. Преобразуйте значения в новой колонке в формат INTEGER, чтобы порядковый номер был выражен целым числом. Результат отсортируйте по колонке с полом пользователей.

In [ ]:
SELECT sex,
       date_part('month', max(birth_date))::integer as max_month
FROM   users
GROUP BY sex
ORDER BY 1

**Задача 7.** Посчитайте максимальный возраст пользователей мужского и женского пола в таблице users. Возраст измерьте числом полных лет. Новую колонку с возрастом назовите max_age. Преобразуйте значения в новой колонке в формат INTEGER, чтобы возраст был выражен целым числом. Результат отсортируйте по новой колонке по возрастанию возраста.

**Пояснение:**

Для вычисления количества полных лет используйте функцию AGE. В качестве даты, относительно которой считать возраст пользователей, используйте свою текущую дату. Чтобы извлечь число полных лет из возраста, можно использовать функцию DATE_PART с аргументом 'year'.

In [ ]:
SELECT sex,
       max(date_part('year', age(current_date, birth_date))::integer) as max_age
FROM   users
GROUP BY sex
ORDER BY 2

**Задача 8.** Разбейте пользователей из таблицы users на группы по возрасту (возраст по-прежнему измеряем числом полных лет) и посчитайте количество пользователей каждого возраста. Колонку с возрастом назовите age, а колонку с числом пользователей — users_count. Преобразуйте значения в колонке с возрастом в формат INTEGER, чтобы возраст был выражен целым числом. Результат отсортируйте по колонке с возрастом по возрастанию.

**Пояснение:**

Число полных лет из возраста рассчитывайте тем же способом, что и в предыдущем задании. Обратите внимание, что у части пользователей вместо возраста будет пропуск. Эту группу также включите в результат и посчитайте число пользователей в ней. В данной задаче вам необходимо провести группировку по новому расчётному полю. Помните, что повторно производить вычисления в GROUP BY не обязательно, достаточно взять алиас колонки из SELECT.

In [ ]:
SELECT date_part('year', age(birth_date))::integer as age,
       count(user_id) as users_count
FROM   users
GROUP BY age
ORDER BY 1

**Задача 9.** Вновь разбейте пользователей из таблицы users на группы по возрасту (возраст по-прежнему измеряем количеством полных лет), только теперь добавьте в группировку ещё и пол пользователя. Затем посчитайте количество пользователей в каждой половозрастной группе. Все NULL значения в колонке birth_date заранее отфильтруйте с помощью WHERE. Колонку с возрастом назовите age, а колонку с числом пользователей — users_count, имя колонки с полом оставьте без изменений. Преобразуйте значения в колонке с возрастом в формат INTEGER, чтобы возраст был выражен целым числом. Отсортируйте полученную таблицу сначала по колонке с возрастом по возрастанию, затем по колонке с полом — тоже по возрастанию.

**Пояснение:**

В результате в каждой возрастной группе должно появиться ещё по две подгруппы с полом. В каждой такой подгруппе необходимо посчитать число пользователей. Число полных лет из возраста рассчитывайте тем же способом, что и в предыдущих заданиях.

In [ ]:
SELECT date_part('year', age(birth_date))::integer as age,
       sex,
       count(user_id) as users_count
FROM   users
GROUP BY age, sex having date_part('year', age(birth_date))::integer is not null
ORDER BY 1, 2

**Задача 10.** Посчитайте количество товаров в каждом заказе, примените к этим значениям группировку и рассчитайте количество заказов в каждой группе за неделю с 29 августа по 4 сентября 2022 года включительно. Для расчётов используйте данные из таблицы orders. Выведите две колонки: размер заказа и число заказов такого размера за указанный период. Колонки назовите соответственно order_size и orders_count. Результат отсортируйте по возрастанию размера заказа.

In [ ]:
SELECT array_length(product_ids, 1) as order_size,
       count(array_length(product_ids, 1)) as orders_count
FROM   orders
WHERE  creation_time between '2022-08-29'
   and '2022-09-05'
GROUP BY order_size
ORDER BY 1

**Задача 11.** Посчитайте количество товаров в каждом заказе, примените к этим значениям группировку и рассчитайте количество заказов в каждой группе. Учитывайте только заказы, оформленные по будням. В результат включите только те размеры заказов, общее число которых превышает 2000. Для расчётов используйте данные из таблицы orders. Выведите две колонки: размер заказа и число заказов такого размера. Колонки назовите соответственно order_size и orders_count. Результат отсортируйте по возрастанию размера заказа.

In [ ]:
SELECT array_length(product_ids, 1) as order_size,
       count(order_id) as orders_count
FROM   orders
WHERE  date_part('dow', creation_time) in (1, 2, 3, 4, 5)
GROUP BY order_size having count(order_id) > 2000
ORDER BY order_size

**Задача 12.** По данным из таблицы user_actions определите пять пользователей, сделавших в августе 2022 года наибольшее количество заказов. Выведите две колонки — id пользователей и число оформленных ими заказов. Колонку с числом оформленных заказов назовите created_orders. Результат отсортируйте сначала по убыванию числа заказов, сделанных пятью пользователями, затем по возрастанию id этих пользователей.

**Пояснение:**

Помните, что в таблице user_actions есть информация как об оформленных, так и об отменённых заказах.

In [ ]:
SELECT user_id,
       count(order_id) as created_orders
FROM   user_actions
WHERE  (time between '2022-08-01'
   and '2022-09-01')
   and action = 'create_order'
GROUP BY user_id
ORDER BY 2 desc, 1 limit 5