## Join

**Задача 1.** Объедините таблицы user_actions и users по ключу user_id. В результат включите две колонки с user_id из обеих таблиц. Эти две колонки назовите соответственно user_id_left и user_id_right. Также в результат включите колонки order_id, time, action, sex, birth_date. Отсортируйте получившуюся таблицу по возрастанию id пользователя (в любой из двух колонок с id).

In [ ]:
SELECT u.user_id as user_id_left,
       ua.user_id as user_id_right,
       ua.order_id,
       ua.time,
       ua.action,
       u.sex,
       u.birth_date
FROM   users as u join user_actions as ua using (user_id)
ORDER BY 1

**Задача 2.** Попробуйте немного переписать запрос из прошлого задания и посчитать количество уникальных id в объединённой таблице. То есть снова объедините таблицы, но в этот раз просто посчитайте уникальные user_id в одной из колонок с id. Выведите это количество в качестве результата. Колонку с посчитанным значением назовите users_count.

In [ ]:
SELECT count(distinct u.user_id) as users_count
FROM   users as u join user_actions as ua using (user_id)

**Задача 3.** С помощью LEFT JOIN объедините таблицы user_actions и users по ключу user_id. Обратите внимание на порядок таблиц — слева user_actions, справа users. В результат включите две колонки с user_id из обеих таблиц. Эти две колонки назовите соответственно user_id_left и user_id_right. Также в результат включите колонки order_id, time, action, sex, birth_date. Отсортируйте получившуюся таблицу по возрастанию id пользователя (в колонке из левой таблицы).

In [ ]:
SELECT ua.user_id as user_id_left,
       u.user_id as user_id_right,
       order_id,
       time,
       action,
       sex,
       birth_date
FROM   user_actions as ua
    LEFT JOIN users as u using (user_id)
ORDER BY 1

**Задача 4.** Теперь снова попробуйте немного переписать запрос из прошлого задания и посчитайте количество уникальных id в колонке user_id, пришедшей из левой таблицы user_actions. Выведите это количество в качестве результата. Колонку с посчитанным значением назовите users_count.

In [ ]:
SELECT count(distinct ua.user_id) as users_count
FROM   user_actions as ua
    LEFT JOIN users as u using (user_id)

**Задача 5.** Возьмите запрос из задания 3, где вы объединяли таблицы user_actions и users с помощью LEFT JOIN, добавьте к запросу оператор WHERE и исключите NULL значения в колонке user_id из правой таблицы. Включите в результат все те же колонки и отсортируйте получившуюся таблицу по возрастанию id пользователя в колонке из левой таблицы.

In [ ]:
SELECT ua.user_id as user_id_left,
       u.user_id as user_id_right,
       order_id,
       time,
       action,
       sex,
       birth_date
FROM   user_actions as ua
    LEFT JOIN users as u using (user_id)
WHERE  u.user_id is not null
ORDER BY 1

**Задача 6.** С помощью FULL JOIN объедините по ключу birth_date таблицы, полученные в результате вышеуказанных запросов (то есть объедините друг с другом два подзапроса). Не нужно изменять их, просто добавьте нужный JOIN.

В результат включите две колонки с birth_date из обеих таблиц. Эти две колонки назовите соответственно users_birth_date и couriers_birth_date. Также включите в результат колонки с числом пользователей и курьеров — users_count и couriers_count.

Отсортируйте получившуюся таблицу сначала по колонке users_birth_date по возрастанию, затем по колонке couriers_birth_date — тоже по возрастанию.

In [ ]:
SELECT a.birth_date as users_birth_date,
       users_count,
       b.birth_date as couriers_birth_date,
       couriers_count
FROM   (SELECT birth_date,
               count(user_id) as users_count
        FROM   users
        WHERE  birth_date is not null
        GROUP BY birth_date) a full join (SELECT birth_date,
                                         count(courier_id) as couriers_count
                                  FROM   couriers
                                  WHERE  birth_date is not null
                                  GROUP BY birth_date) b using(birth_date)
ORDER BY 1, 3

**Задача 7.** Объедините два следующих запроса друг с другом так, чтобы на выходе получился набор уникальных дат из таблиц users и couriers:

SELECT birth_date
FROM users
WHERE birth_date IS NOT NULL


SELECT birth_date
FROM couriers
WHERE birth_date IS NOT NULL


Поместите в подзапрос полученный после объединения набор дат и посчитайте их количество. Колонку с числом дат назовите dates_count.

In [ ]:
SELECT count(birth_date) as dates_count FROM(SELECT birth_date
                                             FROM   users
                                             WHERE  birth_date is not null
                                             UNION
SELECT birth_date
                                             FROM   couriers
                                             WHERE  birth_date is not null) a

**Задача 8.** Из таблицы users отберите id первых 100 пользователей (просто выберите первые 100 записей, используя простой LIMIT) и с помощью CROSS JOIN объедините их со всеми наименованиями товаров из таблицы products. Выведите две колонки — id пользователя и наименование товара. Результат отсортируйте сначала по возрастанию id пользователя, затем по имени товара — тоже по возрастанию.

In [ ]:
SELECT a.user_id,
       b.name
FROM   (SELECT user_id
        FROM   users limit 100) as a cross join (SELECT name
                                         FROM   products) as b
ORDER BY 1, 2

**Задача 9.** Для начала объедините таблицы user_actions и orders — это вы уже умеете делать. В качестве ключа используйте поле order_id. Выведите id пользователей и заказов, а также список товаров в заказе. Отсортируйте таблицу по id пользователя по возрастанию, затем по id заказа — тоже по возрастанию.

Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
SELECT user_id,
       ua.order_id as order_id,
       product_ids
FROM   user_actions ua join orders o using (order_id)
ORDER BY 1, 2 limit 1000

**Задача 10.** Снова объедините таблицы user_actions и orders, но теперь оставьте только уникальные неотменённые заказы. Остальные условия задачи те же: вывести id пользователей и заказов, а также список товаров в заказе. Отсортируйте таблицу по id пользователя по возрастанию, затем по id заказа — тоже по возрастанию.

Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
with sbq as (SELECT DISTINCT order_id,
                             user_id
             FROM   user_actions
             WHERE  order_id not in (SELECT order_id
                                     FROM   user_actions
                                     WHERE  action = 'cancel_order'))
SELECT s.user_id,
       s.order_id as order_id,
       o.product_ids
FROM   sbq s join orders o using (order_id)
ORDER BY 1, 2 limit 1000

**Задача 11.** Используя запрос из предыдущего задания, посчитайте, сколько в среднем товаров заказывает каждый пользователь. Выведите id пользователя и среднее количество товаров в заказе. Среднее значение округлите до двух знаков после запятой. Колонку посчитанными значениями назовите avg_order_size. Результат выполнения запроса отсортируйте по возрастанию id пользователя. 

Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
with sbq as (SELECT DISTINCT order_id,
                             user_id
             FROM   user_actions
             WHERE  order_id not in (SELECT order_id
                                     FROM   user_actions
                                     WHERE  action = 'cancel_order'))
SELECT s.user_id,
       round(avg(array_length(o.product_ids, 1)), 2) as avg_order_size
FROM   sbq s join orders o using (order_id)
GROUP BY s.user_id
ORDER BY 1 limit 1000

**Задача 12.** Для начала к таблице с заказами (orders) примените функцию unnest. Колонку с id товаров назовите product_id. Затем к образовавшейся расширенной таблице по ключу product_id добавьте информацию о ценах на товары (из таблицы products). Должна получиться таблица с заказами, товарами внутри каждого заказа и ценами на эти товары. Выведите колонки с id заказа, id товара и ценой товара. Результат отсортируйте сначала по возрастанию id заказа, затем по возрастанию id товара.

Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

In [ ]:
with pid as(SELECT order_id,
                   unnest(product_ids) as product_id
            FROM   orders)
SELECT order_id,
       p.product_id,
       price
FROM   pid as p join products as pr
        ON p.product_id = pr.product_id
ORDER BY 1, 2 limit 1000